*{
	margin: 0;
	padding: 0;
	font-family: Algerian;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;

}
ul li a{
	text-decoration: none;
	color: #86BA33;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
	font-family: Harlow Solid;

}
ul li a:hover{
	background-color: #581845;
	color: #6F7762;
}
ul li.active a{
	background-color: #581845;
	color: #6F7762;
}
.logo img{
	float: left;
	width: 150px;
	height: auto;
}


.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: #fff;
	font-size: 50px;
}

.icon{
	position: realtive;
	top: 130%;
	left: 0%;
	align: left;
}
.p{
	position: absolute;
	top: 140%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #11824A;
	font-family: Chiller;
	font-size: 20px;
}
.button{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.btn{
	text-decoration: none;
	color: #86BA33;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
	font-family: Harlow Solid;
}
.btn:hover{
	background-color: #581845;
	color: #6F7762;
}
.icon{
	height: 20vh;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	
}
.icon a{
	height: 50px;
	width: 50px;
	background-color: #f5f6fa;
	border-radius: 50px;
	text-align: center;
	margin: 5px;
	line-height: 70px;
	box-shadow: 0.5px 2px 1px 1px #dcdde1;
}
.icon a i{
	transition: all 0.3s linear;	
}
.icon a:hover i{
	transform: scale(1.2);
}
.fa-instagram{
	color: #e84393;
}
.fa-whatsapp{
	color: #46EE31;
}
